dist
dist-spec
build
tmp
/out-tsc
node_modules
v8-compile-cache-*
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
!.vscode/*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.sass-cache
/connect.lock
coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
.nx/cache
.nx/workspace-data
**/*.timestamp-*
.pnpm-store
e2e-nx-workspaces
.browsers