name: ci

on:
  pull_request:

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          npm i -g corepack@${{ env.NX_PLUS_COREPACK_VERSION }}
          corepack enable
        env:
          # renovate: datasource=npm depName=corepack
          NX_PLUS_COREPACK_VERSION: '0.34.2'

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - uses: nrwl/nx-set-shas@v4

      - run: .github/scripts/install-deps.sh

      - run: echo "NX_VERBOSE_LOGGING=${{ runner.debug && true || false }}" >> "$GITHUB_ENV"

      - run: pnpm nx report

      - run: pnpm nx sync:check

      - run: pnpm nx format:check

      - run: >
          pnpm nx affected -c ci -t
          lint
          lint-eslint

      - run: >
          pnpm nx affected -c ci -t
          build
          build-tsc

      - run: >
          pnpm nx affected -c ci -t
          test
          test-vitest
          test-web-test-runner

      - run: >
          .github/scripts/nx-affected-sonar-scan.sh
          --option sonar.qualitygate.wait=true
          --option sonar.organization=robby-rabbitman-nx-plus
          --option sonar.token=${{ secrets.SONAR_TOKEN }}
          --option sonar.userHome=${{ github.workspace }}/.sonar
          --option sonar.scanner.skipJreProvisioning=true
        env:
          NX_PLUS_TOOLS_SONAR_HOST: https://sonarcloud.io
