name: lint-pr-title

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

concurrency:
  group: '${{ github.event.pull_request.id }} ${{ github.event.pull_request.title }}'
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          npm i -g corepack@${{ env.NX_PLUS_COREPACK_VERSION }}
          corepack enable
        env:
          # renovate: datasource=npm depName=corepack
          NX_PLUS_COREPACK_VERSION: '0.34.4'

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - uses: nrwl/nx-set-shas@v4

      - run: .github/scripts/install-deps.sh

      - run: echo "NX_VERBOSE_LOGGING=${{ runner.debug && true || false }}" >> "$GITHUB_ENV"

      - run: pnpm nx report

      - run: pnpm nx run tools-commitlint:lint-commitlint
        env:
          NX_PLUS_TOOLS_COMMITLINT_TEXT: ${{ github.event.pull_request.title }}
