name: renovate

on:
  workflow_dispatch:
    inputs:
      log-level:
        type: choice
        default: DEBUG
        options:
          - DEBUG
          - INFO
          - WARN
          - ERROR
          - FATAL
  schedule:
    - cron: '0 2,8 * * *' # At 02:00 AM, 08:00 AM

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # Token permissions requirements:
      #
      # commit statuses: write
      # contents: write
      # dependabot alerts: read
      # issues: write
      # metadata: read
      # pull requests: write
      # workflows: write
      # email addresses: read
      - uses: actions/create-github-app-token@v1
        id: create-renovate-app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.create-renovate-app-token.outputs.token }}

      - run: |
          npm i -g corepack@${{ env.NX_PLUS_COREPACK_VERSION }}
          corepack enable
        env:
          # renovate: datasource=npm depName=corepack
          NX_PLUS_COREPACK_VERSION: '0.34.3'

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: .github/scripts/install-deps.sh

      - run: echo "NX_VERBOSE_LOGGING=${{ runner.debug && true || false }}" >> "$GITHUB_ENV"

      - run: pnpm nx report

      - run: pnpm nx run tools-renovate-bot:renovate:ci
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_TOKEN: ${{ steps.create-renovate-app-token.outputs.token }}
          LOG_LEVEL: ${{ github.event_name == 'workflow_dispatch' && inputs.log-level || 'INFO' }}
